<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Meet the Designer <br><span class="text-muted">Scott Brownlie.</span></h2>
            <p class="lead">Hi, I'm Scott, founder of Scott Brownlie Interiors, a brand new interior design company based in Crawley, West Sussex.</p>
            <p>I established my design service in 2016 after recently graduating from The National Design Academy with a diploma in Interior Design. I have a passion for everything Interior Design and I believe my love for this art form is reflected in the work I do. Originally from sunny Glasgow, I moved to the south 10 years ago to take a career with the airlines. I've been incredibly lucky to have seen some pretty amazing things all over the world, and met so many different and diverse people. I believe that this background gives me the edge when it comes to my design service. Whether you are a contemporary fan or something more traditional, I will work with you to transform your current interiors with fresh, and on trend styles. Take a look on The Portfolio page for recent work as well as The Design Ideas page for inspiration. And don't forget to check back regularly for further updates. I look forward to hearing from you soon!</p>
        </div>
        <div class="col-md-5">
            <div class="photos">
                <ul>
                    <li><a href="img/thedesigner.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/thedesigner.jpg" alt="The Designer - Scott Brownlie"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
