<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="img/thedesigner.jpg" alt="The Designer - Scott Brownlie" width="140" height="140">
            <h2>The Designer</h2>
            <p>I want to create the perfect environment for you, putting you at the forefront of the design process.</p>
            <p><a class="btn btn-default" href="/about" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="img/theportfolio.jpg" alt="The Portfolio" width="140" height="140">
            <h2>Portfolio</h2>
            <p>Have a look at recent work I have undertaken to help you understand how we can work together to create your dream space.</p>
            <p><a class="btn btn-default" href="/portfolio" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="img/designideas.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Design Ideas</h2>
            <p>Mood Boards, and inspirational ideas for your space.</p>
            <p><a class="btn btn-default" href="/design-ideas" role="button">Read more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
