<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Hygge <br><span class="text-muted">a Danish inspired concept.</span></h2>
            <p class="lead">Hygge (Hoo-ga or Hue-gah) is a Danish concept and when translated to English basically means togetherness or cosiness.</p>
            <p>In this design there are many different textures included such as the soft lambswool cushions and the chunky knit throws. I have included wood flooring and wooden stools for use as side tables again creating another layer of texture. The fabric sofa and chairs add luxury and high comfort. The artwork chosen represents the beauty of nature and one of the most recognisable animals that graces our planet. The deep, soft faux fur rug adds comfort and is visually appealing. The lanterns add warmth to the design and would include large pillar candles bringing the room together as one and emphasising Hygge.</p>
        </div>
        <div class="col-md-5">
            <div class="photos">
                <ul>
                    <li><a href="img/hygge.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/hygge.jpg" alt="Hygge"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
