<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Best of British <br><span class="text-muted">Masculine and Industrial</span></h2>
            <p class="lead">Masculine and industrial elements to this design. Designer influences from Vivienne Westwood.</p>
            <p>Best of British Mood Board. Masculine and industrial elements to this design. Designer influences from Vivienne Westwood.</p>
        </div>
        <div class="col-md-5">
            <div class="photos">
                <ul>
                    <li><a href="img/bestofbritish.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/bestofbritish.jpg" alt="Best of British"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
