<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Coastal Dining Room <br><span class="text-muted">Nautical elements.</span></h2>
            <p class="lead">Benjamin Moore Slate Blue paint, teamed with bright white paint. There are nautical elements to this design through use of artwork and accessories.</p>
            <p><a class="btn btn-default" href="/design-ideas/coastaldiningroom" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="img/coastaldiningroom.jpg" alt="Coastal Dining Room">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Hygge <br><span class="text-muted">a Danish inspired concept.</span></h2>
            <p class="lead">Hygge (Hoo-ga or Hue-gah) is a Danish concept and when translated to English basically means togetherness or cosiness.</p>
            <p><a class="btn btn-default" href="/design-ideas/hygge" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="img/hygge.jpg" alt="Hygge">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Best of British <br><span class="text-muted">Masculine and Industrial</span></h2>
            <p class="lead">Masculine and industrial elements to this design. Designer influences from Vivienne Westwood.</p>
            <p><a class="btn btn-default" href="/design-ideas/bestofbritish" role="button">Read more &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="img/bestofbritish.jpg" alt="Best of British">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="img/placeholder.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="img/placeholder.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
