<!-- FOOTER -->
<footer>
    <div class="container footer">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <h3>Where to find me</h3>
                <p>Crawley, West Sussex<br>
                    United Kingdom<br>
                    +44.7540531101<br>
                    <a href="mailto:scottinteriors@gmail.com" target="_blank">scottinteriors@gmail.com</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h3>Site links</h3>
                <ul class="nav nav-stacked">
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/design-ideas">Design Ideas</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h3>On social media</h3>
                <p><a href="https://www.facebook.com/scottbrownlieinteriors/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    scottbrownlieinteriors</a></p>
                <p><a href="https://www.instagram.com/scott_brownlie_interiors/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
                    scott_brownlie_interiors</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</footer>

<div class="container credits">
    <div class="row">
        <div class="col-lg-4">
            <p>&copy; 2017 Scott Brownlie Interiors. All rights reserved.</p>
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <p class="pull-right">Design and build by <a href="http://www.grumpyguvner.com" target="_blank">Grumpy Guvner</a></p>
        </div>
    </div>
</div>