<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Spare Bedroom Project <br><span class="text-muted">inspired by aviation and love travelling the world.</span></h2>
            <p class="lead">This project was undertaken for a couple who are inspired by aviation and love travelling the world.</p>
            <p>The original items this client had was the wardrobe and lights. They were looking for the lights to be incorporated into the design. I went for a luxurious and sophisticated style incorporating travel and aviation into the design. The geometric patterned bedding added pattern into the design and worked well within the room. The large headboard added a feature to the room and the prints were placed above the lights to increase the overall height feel of the design. The prints included two aviation inspired photographs one being the engine turbine.</p>
        </div>
        <div class="col-md-5">
            <div class="photos">
                <ul>
                    <li><a href="img/sparebedroom.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/sparebedroom.jpg" alt="spare Bedroom Project"></a></li>
                    <li><a href="img/sparebedroom-1.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/sparebedroom-1.jpg" alt="spare Bedroom Project"></a></li>
                    <li><a href="img/sparebedroom-2.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/sparebedroom-2.jpg" alt="spare Bedroom Project"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

</div><!-- /.container -->
