<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Master Bedroom Project <br><span class="text-muted">using geometric and industrial design.</span></h2>
            <p class="lead">This project was taken on in a rental property where the tenants were looking for a contemporary design.</p>
            <p>One of the key trends for 2016  is geometric and industrial design. From the client's brief I was told that they wanted a masculine edge to the design and loved city loft living. I incorporated white washed brick wallpaper to add the effect of an open brick wall and to give the impression of texture to the design. Geometric shaped suspended lighting was added for bedside lighting giving the design a dramatic appeal. The wardrobes couldn't be changed due to the rental status therefore I accessorised the recesses with geometric patterned storage boxes continuing with the overall style of the room. A cinema styled lightbox was added to one of the walls to add a quirky edge to the design which also is a popular choice this season. For comfort and style a sleigh bed was added to the room, and window treatments such as roman blinds and blackout curtains were also included. The bedside tables were chosen to compliment the design and add an industrial feel.</p>
        </div>
        <div class="col-md-5">
            <div class="photos">
                <ul>
                    <li><a href="img/masterbedroom.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/masterbedroom.jpg" alt="Master Bedroom Project"></a></li>
                    <li><a href="img/masterbedroom-1.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/masterbedroom-1.jpg" alt="Master Bedroom Project"></a></li>
                    <li><a href="img/masterbedroom-2.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/masterbedroom-2.jpg" alt="Master Bedroom Project"></a></li>
                    <li><a href="img/masterbedroom-3.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/masterbedroom-3.jpg" alt="Master Bedroom Project"></a></li>
                    <li><a href="img/masterbedroom-4.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/masterbedroom-4.jpg" alt="Master Bedroom Project"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
