<div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Services <br><span class="text-muted">to inspire you.</span></h2>
            <p class="lead">We offer a selection of Interior Solutions to inspire you for your everyday needs in your home.</p>
            <ul>
                <li>Consultation for design service</li>
                <li>Inspirational Concept and Presentation Boards</li>
                <li>Full Room Design Service (excl Kitchen and Bathroom)</li>
                <li>Interior Styling</li>
                <li>Space Planning</li>
                <li>Friendly and Professional Service</li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="photos">
                <ul>
                    <li><a href="img/services.jpg" rel="lightbox" title="Photograph by S. Ainscough"><img class="featurette-image-thumb img-responsive center-block" src="img/services.jpg" alt="Services"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
